scratchpads/perra_e/CfgDesc Attrib Groups.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NodeConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="SchemaName" type="xs:string" use="required" />
            <xs:attribute name="SchemaVersion" type="xs:decimal" use="required" />
            <xs:attribute name="ContentVersion" type="xs:decimal" use="optional" />
            <xs:attribute name="ExternalNodeConfig" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element name="NodeInfo" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="Manufact" type="xs:string" use="required" />
            <xs:attribute name="Model" type="xs:string" use="required" />
            <xs:attribute name="HardwareVersion" type="xs:decimal" use="required" />
            <xs:attribute name="SoftwareVersion" type="xs:decimal" use="required" />
            <xs:attribute name="Description" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element name="NodeParams" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Param">
                <xs:complexType>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="Offset" type="xs:unsignedShort" use="optional" />
                  <xs:attribute name="Cv" type="xs:unsignedShort" use="optional" />
                  <xs:attribute name="Type" type="xs:string" use="required" />
                  <xs:attribute name="Default" type="xs:string" use="optional" />
                  <xs:attribute name="Min" type="xs:unsignedByte" use="optional" />
                  <xs:attribute name="Max" type="xs:unsignedShort" use="optional" />
                  <xs:attribute name="unit" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Devices">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="DeviceGroup">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Events">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="CEvent">
                            <xs:complexType>
                              <xs:attribute name="Name" type="xs:string" use="required" />
                              <xs:attribute name="Offset" type="xs:unsignedByte" use="optional" />
                              <xs:attribute name="Cv" type="xs:unsignedByte" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="PEvent">
                            <xs:complexType>
                              <xs:attribute name="Name" type="xs:string" use="required" />
                              <xs:attribute name="Offset" type="xs:unsignedByte" use="optional" />
                              <xs:attribute name="Cv" type="xs:unsignedByte" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="Event">
                            <xs:complexType>
                              <xs:attribute name="Name" type="xs:string" use="required" />
                              <xs:attribute name="EventType" type="xs:string" use="required" />
                              <xs:attribute name="Offset" type="xs:unsignedByte" use="optional" />
                              <xs:attribute name="Cv" type="xs:unsignedByte" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="DeviceParams">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Param">
                            <xs:complexType>
                              <xs:attribute name="Name" type="xs:string" use="required" />
                              <xs:attribute name="Default" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="Min" type="xs:unsignedByte" use="optional" />
                              <xs:attribute name="Max" type="xs:unsignedByte" use="optional" />
                              <xs:attribute name="Type" type="xs:string" use="required" />
                              <xs:attribute name="Offset" type="xs:unsignedByte" use="optional" />
                              <xs:attribute name="Cv" type="xs:unsignedByte" use="optional" />
                              <xs:attribute name="min" type="xs:unsignedByte" use="optional" />
                              <xs:attribute name="unit" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="GroupOffset" type="xs:unsignedShort" use="optional" />
                        <xs:attribute name="GroupCv" type="xs:unsignedShort" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Id" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="Desc" type="xs:string" use="required" />
                  <xs:attribute name="Count" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="GroupOffset" type="xs:unsignedByte" use="optional" />
                  <xs:attribute name="GroupCv" type="xs:unsignedByte" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>